site_name: yads
site_description: Canonical schema specs plus friendly converters.
repo_url: https://github.com/erich-hs/yads
theme:
  name: mkdocs
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - toc:
      permalink: true
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          setup_commands:
            - import sys
            - sys.path.insert(0, "src")
nav:
  - Home: index.md
  - Converters:
      - PyArrow: converters/pyarrow.md
