site_name: yads
site_description: Canonical schema specs plus friendly converters.
repo_url: https://github.com/erich-hs/yads
theme:
  name: material
  features:
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.indexes
    - navigation.tracking
    - navigation.path
    - navigation.top
    - content.code.copy
    - toc.follow
  palette:
    - scheme: default
      primary: white
      accent: cyan
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: dark-black
      accent: cyan
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
extra_css:
  - stylesheets/extra.css
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          setup_commands:
            - import sys
            - sys.path.insert(0, "src")
          options:
            docstring_style: google
            show_root_heading: true
            show_root_full_path: false
            show_symbol_type_heading: true
            show_symbol_type_toc: true
nav:
  - Getting Started:
    - index.md
  - Specification:
    - spec/index.md
    - spec/spec.md
    - spec/types.md
    - spec/constraints.md
  - Loaders:
    - loaders/index.md
    - loaders/pyarrow.md
    - loaders/polars.md
    - loaders/pyspark.md
    - loaders/yaml.md
  - Converters:
    - converters/index.md
    - converters/pyarrow.md
    - converters/polars.md
    - converters/pyspark.md
    - converters/pydantic.md
    - SQL:
      - converters/sql/sqlglot.md
      - converters/sql/sql.md
  - Registries:
    - registries/index.md
    - registries/filesystem.md
