site_name: yads
site_description: Canonical schema specs plus friendly converters.
repo_url: https://github.com/erich-hs/yads
theme:
  name: material
  features:
    - navigation.instant
    - navigation.sections
    - content.code.copy
  palette:
    - scheme: default
      primary: white
      accent: cyan
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: dark-black
      accent: cyan
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
extra_css:
  - stylesheets/extra.css
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - toc:
      permalink: true
exclude:
  - "src/**"
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          setup_commands:
            - import sys
            - sys.path.insert(0, "src")
nav:
  - Home: index.md
  - Converters:
      - PyArrow: converters/pyarrow.md
